.orajs-table {
  position: relative;
  overflow: hidden;
  border: 1px solid black;
}

.orajs-corner-cell {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #606060;
  border-bottom: 1px solid #606060;
}

/* *************************** */
/*   Table header row          */
/* *************************** */

.orajs-header-row {
  position: absolute;
  overflow: hidden;
  top: 0;
  border-bottom: 1px solid #606060;
}

.orajs-col-header {
  position: absolute;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  text-align: center;
  font-weight: bold;
  border-left: 1px solid #a0a0a0;

}

.orajs-col-header:first-child {
  border-left-width: 0;
}


/* *************************** */
/*   Table header column       */
/* *************************** */

.orajs-header-col {
  position: absolute;
  overflow: hidden;
  left: 0;
  border-right: 1px solid #606060;
}

.orajs-row-header {
  position: absolute;
  left: 0;
  font-style: italic;
  font-size: 66%;
  color: #606060;
  padding-left: 8px;
  padding-right: 5px;
  border-top: 1px solid #d0d0d0;
}

.orajs-row-header:first-child {
  border-top-width: 0;
}

/* *************************** */
/*   Table content area        */
/* *************************** */

.orajs-content-area {
  position: absolute;
  overflow: hidden;
}

.orajs-content-col {
  position: absolute;
  top: 0;
  height: 100%;
  border-left: 1px solid #a0a0a0;
}

.orajs-content-row {
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 1px solid #d0d0d0;
}

.orajs-content-col:first-child {
  border-left-width: 0;
}

.orajs-content-row:first-child {
  border-top-width: 0;
}

/* *************************** */
/*   Table cells               */
/* *************************** */

.orajs-cell {
  position: absolute;
  z-index: 1;
  background-color: white;
  opacity: 100;
  border: 1px solid black;
  box-shadow: 3px 3px 5px #667788;
  border-radius: 0.5em;
}

/* ************************************ */

* {
  font-family: Arial, sans-serif;
}

h4 {
  text-align: center;
}

#sample-schedule {
  width: 1200px;
  height: 600px;
  margin: 10px auto;
}

