
h4 {
    text-align: center;
}

#sample-schedule {
    width: 1200px;
    height: 600px;
    border: 1px solid black;
    margin: 10px auto;
    position: relative;
}

.orajs-top-row {
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #dddddd;
}