* {
  font-family: Arial, sans-serif;
}

h4 {
  text-align: center;
}

#sample-schedule {
  width: 1200px;
  height: 600px;
  border: 1px solid black;
  margin: 10px auto;
}

.orajs-col {
  border-bottom: 1px solid black;
  text-align: center;
  font-weight: bold;
  line-height: 40px;
}

.orajs-row {
  border-right: 1px solid black;
  font-style: italic;
  font-size: 66%;
  color: #606060;
  padding-left: 8px;
}

.orajs-row:nth-child(10) {
  color: white;
}
